In [1]:
import pandas as pd

In [3]:
file = "../DATA/customers.csv"

In [5]:
cusDF = pd.read_csv(file)
cusDF

                     Name                                            Address
0           Frank Manning  6461 Quinn Groves, East Matthew, New Hampshire...
1       Elizabeth Johnson  1360 Tracey Ports Apt. 419, Kyleport, Vermont,...
2         Donald Stephens  19120 Fleming Manors, Prestonstad, Montana, 23495
3     Michael Vincent III       441 Olivia Creek, Jimmymouth, Georgia, 82991
4          Jasmine Zamora  4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...
...                   ...                                                ...
9956        Dana Browning  762 Andrew Views Apt. 254, North Paul, New Mex...
9957      Amanda Anderson  44188 Day Crest Apt. 901, Lake Marcia, Maine, ...
9958           Eric Davis  73015 Michelle Squares, Watsonville, West Virg...
9959     Taylor Hernandez       129 Keith Greens, Haleyfurt, Oklahoma, 98916
9960     Sherry Nicholson   355 Griffin Valley, Davidtown, New Mexico, 17581

[9961 rows x 2 columns]

In [ ]:
# 각 주소는 도로/시/주/우편번호 = [Stree City State Zip] -> 기존 Address열 삭제

In [6]:
cusDF["Address"].str.split(pat=",", expand=True)

                               0              1               2       3
0              6461 Quinn Groves   East Matthew   New Hampshire   16656
1     1360 Tracey Ports Apt. 419       Kyleport         Vermont   31924
2           19120 Fleming Manors    Prestonstad         Montana   23495
3               441 Olivia Creek     Jimmymouth         Georgia   82991
4     4246 Chelsey Ford Apt. 310      Karamouth            Utah   76252
...                          ...            ...             ...     ...
9956   762 Andrew Views Apt. 254     North Paul      New Mexico   28889
9957    44188 Day Crest Apt. 901    Lake Marcia           Maine   37378
9958      73015 Michelle Squares    Watsonville   West Virginia   03933
9959            129 Keith Greens      Haleyfurt        Oklahoma   98916
9960          355 Griffin Valley      Davidtown      New Mexico   17581

[9961 rows x 4 columns]

In [12]:
cusDF[["Street", "City", "State", "Zip"]] = cusDF["Address"].str.split(pat=",", expand=True)
cusDF

,Name,Address,Street,City,State,Zip
0,Frank Manning,"6461 Quinn Groves, East Matthew, New Hampshire...",6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,"1360 Tracey Ports Apt. 419, Kyleport, Vermont,...",1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,"19120 Fleming Manors, Prestonstad, Montana, 23495",19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,"441 Olivia Creek, Jimmymouth, Georgia, 82991",441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,"4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...",4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...,...
9956,Dana Browning,"762 Andrew Views Apt. 254, North Paul, New Mex...",762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,"44188 Day Crest Apt. 901, Lake Marcia, Maine, ...",44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,"73015 Michelle Squares, Watsonville, West Virg...",73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,"129 Keith Greens, Haleyfurt, Oklahoma, 98916",129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,"355 Griffin Valley, Davidtown, New Mexico, 17581",355 Griffin Valley,Davidtown,New Mexico,17581

In [15]:
cusDF.drop("Address", axis=1)

,Name,Street,City,State,Zip
0,Frank Manning,6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...
9956,Dana Browning,762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,355 Griffin Valley,Davidtown,New Mexico,17581